<form method="post" action="/edit/<%= todo.id %>">
  <input type="hidden" name="_method" value="patch"/>
  <label for="todo">ToDo:</label><br>
  <textarea type="text" col="40" row="5" id="todo" name="todo"><%= todo.body %></textarea><br>
  <input type="submit" value="Update"/>
</form>